.studioCard
  display: flex
  justify-content: space-between
  padding: 0.5rem 1rem
  border: 1px solid #06867a
  border-radius: 1.25rem

  .cardBlock
    display: flex
    align-items: center
    gap: 1.2rem

    img
      $image-size: 2.5rem
      width: $image-size
      height: $image-size
      border-radius: 50%
      object-fit: cover

    button
      padding: 0
      border: 0
      background: transparent
      color: inherit
      cursor: pointer