@use './../../assets/_vars' as v

.serviceSection
  grid-area: sidebar
  padding-right: v.$main-gap 

  .serviceHeading
    padding: 0.75rem
    text-align: center
    background-color: #262626
    color: #ffffff