@use './../../assets/_vars' as v

.serviceSection
  grid-area: sidebar
  max-height: 2.625rem
  margin-right: v.$main-gap
  padding: 0.75rem
  background-color: #262626
  transition: max-height 0.3s ease
  overflow: hidden
  color: #ffffff

  .serviceHeading
    padding-bottom: 0.75rem
    font-size: 1.125rem
    text-align: center

  .serviceBody

    .selectAction
      text-align: center

.isOpen
  max-height: 100%