.stepper
  width: 85%

  :global(.MuiStepLabel-label)
    color: #bdbdbd

  :global(.MuiStepLabel-label.Mui-active)
    color: #ffffff

  :global(.MuiStepLabel-label.Mui-completed)
    color: #66bb6a
  
  :global(.MuiStepIcon-root)
    color: #939392

  :global(.MuiStepIcon-root.Mui-active)
    color: #8fcaf8

  :global(.MuiStepIcon-root.Mui-completed)
    color: #66bb6a

  :global(.MuiStepIcon-text)
     fill: #000000

  :global(.MuiStepConnector-line)
    border-color: #666

  :global(.MuiStepConnector-root.Mui-active .MuiStepConnector-line)
    border-color: #66bb6a

  :global(.MuiStepConnector-root.Mui-completed .MuiStepConnector-line)
    border-color: #66bb6a