@use './../../../../assets/_colors' as c

.stepper
  width: 85%

  :global(.MuiStepLabel-label)
    color: var(--color-text-muted)

  :global(.MuiStepLabel-label.Mui-active)
    color: var(--color-text-primary)

  :global(.MuiStepLabel-label.Mui-completed)
    color: c.$color-success
  
  :global(.MuiStepIcon-root)
    color: #939392

  :global(.MuiStepIcon-root.Mui-active)
    color: c.$color-border-focus

  :global(.MuiStepIcon-root.Mui-completed)
    color: c.$color-success

  :global(.MuiStepIcon-text)
     fill: var(--color-text-secondary)

  :global(.MuiStepConnector-line)
    border-color: #666666

  :global(.MuiStepConnector-root.Mui-active .MuiStepConnector-line)
    border-color: c.$color-success

  :global(.MuiStepConnector-root.Mui-completed .MuiStepConnector-line)
    border-color: c.$color-success