.movieDetailsCard
  display: flex
  flex-direction: column
  padding: 1.5rem
  background-color: #262626
  color: #ffffff

  .descriptionSection
    display: flex
    justify-content: center
    gap: 1.5rem
    margin-top: 1rem

    img
      width: 200px
      height: 300px
      object-fit: cover

    .movieInfo
      width: 50%

      h3
        font-size: 1.5rem
        text-align: center

      .movieDefinitionList
        margin-top: 0.75rem
        line-height: 1.5

        .infoContainer
          color: #adadad

  .watchTrailerLink
    width: fit-content
    margin: 1rem auto 0
    padding: 1rem 3rem
    border: 1px solid #3d3d3d
    border-radius: 2.5rem
    background-color: #ff6600