@use './../Field.module' as *

.wrapper
  position: relative
  width: 100%

  .textarea
    @include field
    height: 10rem
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    resize: none
    overflow-y: auto

    &::placeholder
      color: #9b9b9b

  .error
    @include error