@use '../../assets/_colors' as c

.infoContainer
  color: var(--color-text-muted)

  a
    color: var(--color-link)
    &:hover
      text-decoration: underline

    &:active
      color: c.$color-text-link-active