@use './../../../../assets/_colors' as c
@use '../../Form.module' as *

.actionsBlock
  display: flex
  justify-content: center
  gap: 0.5rem
  width: 85%
  margin-top: auto

  .returnBtn
    @include button
    background-color: #ffa726

  .nextBtn
    @include button
    background-color: c.$color-border-focus

  .submitBtn
    @include submit-button

  .resetBtn
    @include button
    background-color: c.$color-error
    color: inherit