@use '../../Form.module' as *

.actionsBlock
  display: flex
  justify-content: center
  gap: 0.5rem
  width: 85%
  margin-top: auto

  .returnBtn
    @include button
    background-color: #ffa726

  .nextBtn
    @include button
    background-color: #8fcaf8

  .submitBtn
    @include button
    background-color: #66bb6a

  .resetBtn
    @include button
    background-color: #f44236
    color: #ffffff