.trailerPage
  display: flex
  justify-content: center
  align-items: center
  flex: 1
  width: 100%
  padding: 1rem

  iframe
    width: 100%
    aspect-ratio: 16 / 9
    border: none
    border-radius: 0.75rem