@use './../../assets/_vars' as v

%navItem
  padding: 0.9375rem 5rem 0.9375rem 0.9375rem
  display: flex
  align-items: center
  gap: 2rem
  
.navMenu
  grid-area: nav
  padding-left: calc(v.$main-gap / 2) 
  .navList
    background-color: #252525
    color: #ffffff
    li
      .navLink
        @extend %navItem

      .serviceBtn
        @extend %navItem
        width: 100%
        font: inherit
        border: 0
        border-top: 1px solid #3d3d3d
        background: transparent
        color: inherit
        cursor: pointer