@use './../../assets/_vars' as v

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: v.$page-block-padding
  background: linear-gradient(0deg, var(--color-bg-primary), var(--color-bg-page))
  box-shadow: var(--shadow-main)

  .headingGroup
    display: flex
    align-items: center
    gap: 0.6rem
    
    .headerText
      font-weight: bold
      letter-spacing: 0.2rem
  
  .settingsGroup
    display: flex
    align-items: center
    gap: 1rem

    .avatar
      $size: 2rem
      width: $size
      height: $size
      border-radius: 50%

  