@use './../../assets/_vars' as v

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: v.$page-block-padding
  background: linear-gradient(0deg, #262626, #414141)
  color: #ffffff

  .headerGroup
    display: flex
    align-items: center
    gap: 0.6rem
    
    .headerText
      font-weight: bold
      letter-spacing: 0.2rem

    .avatar
      width: 2rem
      height: 2rem
      border-radius: 50%

  