.directorDetailsCard
  display: flex
  flex-direction: column
  padding: 1.5rem
  background-color: #262626
  color: #ffffff

  .descriptionSection
    display: flex
    justify-content: center
    gap: 1.5rem
    margin-top: 1rem

    img
      width: 200px
      height: 300px
      object-fit: cover

    .directorInfo
      width: 50%

      h3
        font-size: 1.5rem
        text-align: center

      .directorInformationList
        margin-top: 0.75rem
        line-height: 1.5