@use './../Field.module' as *

.wrapper
  position: relative
  width: 100%

  .input
    @include field

    &::-webkit-calendar-picker-indicator
      cursor: pointer
      filter: invert(1)

[data-theme='light']
  .wrapper
    .input
      &::-webkit-calendar-picker-indicator
        filter: none

.error
  @include error