@use './../Field.module' as *

.wrapper
  position: relative
  width: 100%

.input
  @include field
  padding-right: 2.5rem

  &::placeholder
    color: var(--color-text-muted)

.error
  @include error

.clearBtn
  position: absolute
  top: 50%
  right: 0.6rem
  display: flex
  justify-content: center
  align-items: center
  width: 1.5rem
  height: 1.5rem
  padding: 0
  border: none
  background: transparent
  color: var(--color-text-muted)
  transform: translateY(-50%)
  transition: color 0.2s
  cursor: pointer

  svg
    font-size: 1.3rem