.dashboard
  padding: 1.5rem 
  background-color: #262626
  color: #ffffff

  h2, h3, h4
    text-align: center

  ul
    padding: 1rem 1rem 1.5rem 

  .dashboardHeading
    font-size: 2rem

  .dashboardListHeading
    font-size: 1.5rem