@use '../../assets/_vars' as v
@use '../../assets/_colors' as c
  
.footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: v.$page-block-padding
  font-size: 0.85rem
  background-color: var(--color-bg-primary)
  box-shadow: var(--shadow-main)
  color: var(--color-text-muted)

  .footerGroup
    display: flex
    align-items: center
    gap: 0.85rem

    a
      &:hover
        color: var(--color-link)

      &:active
        color: c.$color-text-link-active

      svg
        vertical-align: middle