@use './../../assets/_vars' as v
  
.footer
  grid-area: footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: v.$page-block-padding
  font-size: 0.85rem
  background-color: var(--color-bg-primary)
  color: var(--color-text-muted)

  .footerGroup
    display: flex
    align-items: center
    gap: 0.85rem

    svg
      vertical-align: middle