.themeSwitcherBtn
  transition: .2s

  &:global(.MuiIconButton-root)
    &.dark
      color: #ffd54f
      background-color: var(--color-bg-secondary)

      &:hover
        background-color: var(--color-border-primary)

    &.light
      color: #333
      background-color: #ccc

      &:hover
        background-color: #ddd