.wrapper
  width: 100%

.input
  width: 100%
  height: 2.75rem
  padding: 0 .9rem
  border: 1px solid #565656
  border-radius: .3rem
  background: #2f2f2f
  color: #fff
  font-size: .95rem
  transition: border-color .2s

  &:focus
    outline: none
    border-color: #8fc7ff

  &::-webkit-calendar-picker-indicator
    cursor: pointer
    filter: invert(1)