:root
  --color-bg-primary: #262626
  --color-bg-secondary: #2f2f2f
  --color-bg-page: #616161
  --color-text-primary: #ffffff
  --color-text-secondary: #000000
  --color-text-muted: #adadad
  --color-border-primary: #3d3d3d
  --color-border-muted: #565656
  --color-card-gradient-start: #616161
  --color-card-gradient-end: #464646
  --shadow-main: 0 0.35rem 1.5rem rgba(19, 19, 19, 0.815)

[data-theme='light']
  --color-bg-primary: #ffffff
  --color-bg-secondary: #f5f6f8
  --color-bg-page: #e7e9ed
  --color-text-primary: #1f2328
  --color-text-secondary: #000000
  --color-text-muted: #6b7280
  --color-border-primary: #d9dde3
  --color-border-muted: #b8bec7
  --color-card-gradient-start: #cecece
  --color-card-gradient-end: #b6b6b6
  --shadow-main: 0 0.35rem 1.5rem rgba(31, 35, 40, 0.3)