@use './../Field.module' as *

.wrapper
  position: relative
  width: 100%

  .select
    @include field
    padding-right: 2.5rem
    padding-left: 0.9rem
    cursor: pointer
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none

    option
      background: var(--color-bg-secondary)
      color: var(--color-text-primary)

    option:disabled
      color: var(--color-text-muted)

  .error
    @include error

  &::after
    content: ''
    position: absolute
    top: 50%
    right: 0.9rem
    width: 0.5rem
    height: 0.5rem
    border-right: 2px solid #a5a5a5
    border-bottom: 2px solid #a5a5a5
    transform: translateY(-70%) rotate(45deg)
    pointer-events: none