@use './assets/_vars' as v

html
  font-size: 16px
  font-family: sans-serif

.appWrapper
  display: grid
  grid-template-columns: 240px 1fr 450px
  grid-template-rows: 60px 1fr auto
  grid-template-areas: "header header header" "nav main sidebar" "footer footer footer"
  min-height: 100vh
  gap: v.$main-gap
  background-color: #616161

  .main
    grid-area: main
    min-width: 0

    h2
      font-size: 2rem
      text-align: center