@use '../../../../assets/_vars' as v

.popularGenresListItem
  flex: 0 1 90px
  min-width: 0
  max-width: 90px
  padding: 0.4rem
  background: linear-gradient(90deg, var(--color-card-gradient-start), var(--color-card-gradient-end))
  border-radius: v.$main-border-radius
  overflow: hidden

  h4
    width: 100%
    font-size: 0.7rem
    text-align: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  @media screen and (min-width: 361px)
    flex-basis: 110px
    max-width: 110px
    padding: 0.5rem

    h4
      font-size: 0.75rem

  @media screen and (min-width: 481px)
    flex-basis: 140px
    max-width: 140px
    padding: 0.75rem

    h4
      font-size: 0.9rem

  @media screen and (min-width: 721px)
    flex-basis: 175px
    max-width: 175px
    padding: 1rem

    h4
      font-size: 1rem