@mixin form
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  height: 100%

@mixin button
  display: flex
  align-items: center
  gap: 0.5rem
  padding: 0.4rem 0.75rem
  text-transform: uppercase
  border: none
  border-radius: 0.25rem
  cursor: pointer

@mixin submit-button
  @include button
  background-color: #66bb6a

  &:disabled
    background: #5a5a5a
    color: #b0b0b0
    cursor: not-allowed
