@use './../../assets/_colors' as c

@mixin form
  display: flex
  flex-direction: column
  align-items: center
  gap: 2.2rem
  height: 100%

@mixin button
  display: flex
  align-items: center
  gap: 0.5rem
  padding: 0.4rem 0.75rem
  text-transform: uppercase
  border: none
  border-radius: 0.25rem
  color: var(--color-text-secondary)
  cursor: pointer
  user-select: none

@mixin submit-button
  @include button
  background-color: c.$color-success
